img{
    height: 400px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 2px 4px 8px teal;
}

button{
    background-color: rgb(179, 69, 69);
    color:rgb(219, 231, 242);
    border: 1px solid white;
    height: 25px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    transition: 0.4s;
}
button:hover{
    box-shadow: 2px 2px 8px black;
    height: 27px;
    width: 152px;
}

body{
    background-color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: red;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
